import(stats)

# functions
export(
  minEffect.SLR,
  minEffect.VSMc,
  minEffect.VSMc.logistic,
  minEffect.VSMc.poisson,
  minEffect.VSMc.cox,
  powerMediation.Sobel,
  powerMediation.VSMc,
  powerMediation.VSMc.logistic,
  powerMediation.VSMc.poisson,
  powerMediation.VSMc.cox,
  power.SLR,
  power.SLR.rho,
  ssMediation.Sobel,
  ssMediation.VSMc,
  ssMediation.VSMc.logistic,
  ssMediation.VSMc.poisson,
  ssMediation.VSMc.cox,
  ss.SLR,
  ss.SLR.rho,
  testMediation.Sobel
)


